$color_1: #fff;
$color_2: #000;
$color_3: var(--primary-purple);
$color_4: #339901;
$color_5: #0066CC;
$color_6: #86868B;
$color_7: #515154;
$font-family_1: 'Open Sans', sans-serif;
$background-color_1: #000;
$background-color_2: #fff;
$background-color_3: #EBEAEA;
$background-color_4: var(--primary-purple);
$background-color_5: #883ffd;
$background-color_6: #EDECEC;
$background-color_7: #f5f5f7;
$background-color_8: #0066CC;

/* HEADER */
/* Header Information */
/* Header Main */
/* Header Navbar */
/* Slider */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
&:root {
	--primary-purple: #751FFF;
}
.header {
	width: 100%;
}
.header-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
.header__info {
	height: 40px;
	background-color: $background-color_1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	font-size: 14px;
}
.header__info-slogan {
	color: $color_1;
}
.header__info-list {
	display: flex;
	list-style: none;
}
.header__info-link {
	text-decoration: none;
	color: $color_1;
	margin-left: 36px;
}
.header__main {
	height: 80px;
	padding: 0 40px;
	display: flex;
	align-items: center;
	background-color: $background-color_2;
}
.header__search {
	display: flex;
	margin-left: 12%;
}
.header__search-input {
	input {
		width: 320px;
		height: 40px;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		border: none;
		background-color: $background-color_3;
		padding-left: 20px;
		&:focus {
			outline: none;
		}
	}
}
.header__search-history {
	display: none;
}
.header__search-btn {
	width: 80px;
	border: none;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: $background-color_4;
	color: $color_1;
	&:hover {
		background-color: $background-color_5;
		cursor: pointer;
	}
}
.header__nav {
	height: 40px;
	background-color: $background-color_6;
	margin-top: 120px;
}
.header__nav-list {
	display: flex;
	justify-content: center;
	list-style: none;
	line-height: 40px;
	li {
		margin: 0 20px;
	}
}
.header__nav-item {
	text-decoration: none;
	color: $color_2;
	font-size: 16px;
	&:hover {
		color: $color_3;
	}
}
.active {
	color: $color_3;
}
.slider {
	position: relative;
	padding-top: 40%;
	background: url(https://static.wixstatic.com/media/c837a6_f58829a26e594ca3aa72383e19cf39b9~mv2.png/v1/fill/w_1899,h_706,al_r,q_90,usm_0.66_1.00_0.01,enc_auto/c837a6_f58829a26e594ca3aa72383e19cf39b9~mv2.png) top center / cover no-repeat;
}
.container__notification--float {
	width: 100%;
	height: 403px;
	background-image: url(https://shopdunk.com/images/uploaded/banner/banner_thang10/iPhone%2011.png);
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 10px;
}
.notification__float {
	display: 100%;
}
.container {
	background-color: $background-color_7;
}
.name__product--title {
	text-align: center;
	font-weight: 800;
	width: 100%;
	line-height: 80px;
	font-size: 1.6rem;
}
.product__box-item {
	background-color: $background-color_2;
	border-radius: 10px;
	text-decoration: none;
	color: $color_2;
	padding: 24px 0 20px;
	text-align: center;
	position: relative;
	width: 285px;
	margin: 10px;
}
.product-gird {
	margin-top: 50px;
}
.product__status {
	>i {
		transform: scaleX(-1);
		margin-right: 5px;
	}
	display: inline-block;
	padding: 4px 9px;
	border: 2px #339901 solid;
	color: $color_4;
	border-radius: 10px;
	font-weight: 700;
	font-size: 12.5px;
	position: absolute;
	top: 7px;
	right: 7px;
	opacity: 0.7;
}
.product__more {
	padding: 0 20px;
}
.product__img {
	margin-top: 25px;
}
.product__name {
	font-weight: 600;
	text-align: start;
	padding-top: 20px;
}
.product__price {
	text-align: start;
	padding: 20px 0;
}
.price {
	font-size: 15px;
	font-weight: 600;
}
.actual-price {
	color: $color_5;
}
.old-price {
	text-decoration: line-through;
	color: $color_6;
}
.price-ratio-container {
	font-size: 14px;
	color: $color_6;
}
.page-1 {
	width: 35px;
	height: 35px;
	border-radius: 8px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	background-color: $background-color_2;
	font-weight: 600;
	>i {
		opacity: 0.6;
	}
}
.page__number {
	>.active {
		background-color: $background-color_8;
		color: $color_1;
	}
	margin: 0 5px;
}
.container__pager {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 35px 0;
}
.product__sub {
	justify-content: space-between;
	margin-bottom: 40px;
}
.product__fit {
	padding: 38px 20px;
	background-color: $background-color_2;
	height: 215px;
	border-radius: 10px;
	flex: 0 0 49.3%;
	>.row {
		align-items: center;
		height: 100%;
	}
}
.product__fit--img {
	max-height: 139px;
}
.product__fit--title {
	font-weight: 800;
	margin-bottom: 10px;
}
.product__fit--box {
	padding-left: 20px;
}
.product__fit--more {
	text-decoration: none;
	font-size: 15px;
	color: $color_5;
	font-weight: 400;
}
.category-description {
	padding: 40px;
	background-color: $background-color_2;
	border-radius: 10px;
}
.category__history {
	margin-bottom: 22px;
}
.category__history--title {
	font-size: 28px;
	font-weight: 600;
}
.category__history--content {
	font-size: 14px;
	line-height: 1.8;
	margin: 10px 0;
	color: $color_7;
	text-align: justify;
}
.product___reviews {
	background-color: $background-color_2;
	border-radius: 10px;
	max-height: 420px;
	padding: 16px;
}
.product__reviews--title {
	border-bottom: 1px solid;
}

