$whiteColor    : #fff;
$blackColor    : #000;
$primary-purple: #751FFF;

@mixin mainStyle {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: 'Open Sans', sans-serif;
    font-size  : 62.5%;
    font-size  : 1rem;
}

%mainstyle {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: 'Open Sans', sans-serif;
    font-size  : 62.5%;
    font-size  : 1rem;
}

* {
    @include mainStyle(); // or
    @extend %mainStyle;
}

.app {
    display: grid;
    grid-template-areas:
        "header"
        "navbar"
        "container"
        "footer";

}

:root {}

/* HEADER */
.header {
    width: 100%;
}

.header-nav {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    z-index : 100;
}

/* Header Information */
.header__info {
    height          : 40px;
    background-color: #000;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 0 40px;
    font-size       : 14px;
}

.header__info-slogan {
    color: $whiteColor;
}

.header__info-list {
    display   : flex;
    list-style: none;
}

.header__info-link {
    text-decoration: none;
    color          : $whiteColor;
    margin-left    : 36px;
}

/* Header Main */
.header__main {
    height          : 80px;
    padding         : 0 40px;
    display         : flex;
    align-items     : center;
    background-color: $whiteColor;
}

.header__logo {}

.header__search {
    display    : flex;
    margin-left: 12%;
}

.header__search-input {}

.header__search-input input {
    width                    : 320px;
    height                   : 40px;
    border-top-left-radius   : 50px;
    border-bottom-left-radius: 50px;
    border                   : none;
    background-color         : #EBEAEA;
    padding-left             : 20px;
}

.header__search-input input:focus {
    outline: none;
}

.header__search-history {
    display: none;
}

.header__search-history-heading {}

.header__search-history-list {}

.header__search-history-item {}

.header__search-btn {
    width                     : 80px;
    border                    : none;
    border-top-right-radius   : 50px;
    border-bottom-right-radius: 50px;
    background-color          : $primary-purple;
    color                     : $whiteColor;

    &:hover {
        background-color: #883ffd;
        cursor          : pointer;
    }
}


/* Header Navbar */
.header__nav {
    height          : 40px;
    background-color: #EDECEC;
    margin-top      : 120px;
    /* position     : fixed;
    z-index         : 1;
    left            : 0;
    right           : 0; */
}

.header__nav-list {
    display        : flex;
    justify-content: center;
    list-style     : none;
    line-height    : 40px;
}

.header__nav-list li {
    margin: 0 20px;
}

.header__nav-item {
    text-decoration: none;
    color          : #000;
    font-size      : 16px;
}

.header__nav-item:hover {
    color: $primary-purple;
}

.active {
    color: $primary-purple;

    /* font-size: 100px; */
}